

{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center text-primary my-2">Create New Post</h1>

    <div class="form-group">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <button class="btn btn-danger pull-left">
        <a href="/post">Cancel</a>
    </button>

{% endblock %}