{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center mx-auto my-2 text-danger">REGISTRATION</h1>
    <div class="form-group">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

        <button class="btn btn-primary">
            <a class="text-light" href="/">Go Back</a>
        </button>
    </div>
{% endblock %}



